/* 通用 */
body, h1, h2, h3, h4, h5, h6, p,  dl, dt, dd, ul, ol, li{ margin:0; padding:0; }
body{ font:12px "微软雅黑";background-color: #fff;}
h1, h2, h3, h4, h5, h6{ font-size:100%; }
ul, ol { list-style:none; }
a { text-decoration:none;color: #000; cursor:pointer; }
a:hover { text-decoration:none; }
img {border:0;}

/* header */
.outer{max-width: 100%;}
.wrapper{width:100%;margin: 0 auto;}
.header_body{background-color: #d6dddb;}
.header{width: 62.5%;height: 36px;line-height: 3;margin: 0 auto;vertical-align: middle;}
.header_left{float: left;}
.header_left i{font-style: normal;}
.header_right{float: right;vertical-align: text-top;}
.header_right img{ vertical-align: middle;}
/* logo */
.logo{width: 100%;background: #fff;text-align: center;padding: 10px 0}
/* list导航条 */
.list{width: 100%;background: #fff;margin-top: 1px;line-height: 3;font-size: 16px;border-top: 1px solid #d6dddb;}
.list_ul{width: 100%;text-align: center;}
.list_ul li{display:inline-block;width: 100px; text-align: center;vertical-align: middle;}
/* banner */
.banner{width: 100%;background-color: #fff;}
.banner_body{width: 100%;height:690px;position: relative;overflow: hidden;}
.banner_pic{ width: 100%;height: 695px;margin: auto; }
.banner_pic_body{width: 7680px;position: absolute;}
.banner_pic_body img{ float: left; width:1920px;height:695px;}


.banner_prev{ width: 32px; height: 60px; position: absolute;top:50%; left:7.29%;margin-top:-30px;z-index: 2; }
.banner_prev_icon{display: block;  width: 32px;  height: 60px;background: url("images/icons/banner_left.png") center no-repeat;background-size:100%;}
.banner_prev_icon:hover{display: block;  width: 32px;  height: 60px;background: url("images/icons/banner_left_active.png") center no-repeat;background-size:100%;}
.banner_next{ width: 32px; height: 60px; position: absolute;top:50%; right:7.29%;margin-top:-30px;z-index: 2; }
.banner_next_icon{display: block;  width: 32px;  height: 60px;background: url("images/icons/banner_right.png") center no-repeat;background-size:100%;}
.banner_next_icon:hover{display: block;  width: 32px;  height: 60px;background: url("images/icons/banner_right_active.png") center no-repeat;background-size:100%;}
#buttom{ width: 40px;height: 10px; position: absolute;left: 50%; bottom: 20px;z-index: 10;margin-left: -15px; }
#buttom span{cursor: pointer; float: left; width: 10px; height: 10px; border-radius:50%; background: #fff; margin-right: 10px;}
#buttom .on{background: #035944;}
/* part */
.part{width: 100%; height:100px; background:#fff url("images/icons/part.jpg") center repeat-y;margin: 30px 0;}
/* type系列 */
.type{width: 100%;background-color: #fff;}
.type_body{width: 1200px;margin: 0 auto;}
.type_top{padding: 0  0 15px 0;height:445px;}
.type_top .type_top_left{display:inline-block; float: left;height: 445px;width: 63%;overflow: hidden;}
.type_top .type_top_left img{display:inline-block; float: left;width: 760px;height: 445px;opacity: 0.8;
    -webkit-transition: 0.8s;
            transition: 0.8s; }
.type_top .type_top_left img:hover{  -webkit-transform: scale(1.4); transform: scale(1.4);opacity: 1;}
.type_top .type_top_right{display: inline-block;float: right;width: 33%;height:265px;text-align: center;vertical-align: middle; color: #045944;padding: 95px 0;}
.type_top .type_top_right h3{font: 40px "Times New Roman",Times,serif;font-weight: bold;line-height:2 ;}
.type_top .type_top_right p{font-size: 16px;line-height: 3;}
.type_top .type_top_right span{color:#777;line-height: 2;}
.type_top .type_top_right a{background: url("images/icons/knowMore.png") 65px center no-repeat;
    display: block;font-size: 14px; text-align: center;vertical-align:middle;margin: 0 auto; margin-top: 50px;
    height: 15px;padding:10px 10px 20px 0;width: 93px;background-color:#fff;border:1px solid #045944;color: #045944;line-height: 2; }
.type_top .type_top_right a:hover{background: url("images/icons/knowMore_active.png") 65px center no-repeat;
    display: block;font-size: 14px; text-align: center;vertical-align:middle;margin: 0 auto; margin-top: 50px;
    height: 15px;padding:10px 10px 20px 0;width: 93px;background-color:#045944;color: #fff;line-height: 2; }
.type_bottom{padding: 15px  0 0 0;height:445px;}
.type_bottom .type_top_left{display:inline-block; float: right;height: 445px;width: 63%;overflow: hidden;}
.type_bottom .type_top_left img{display:inline-block; float: right;width: 760px;height: 445px;opacity: 0.8;
    -webkit-transition: 0.8s;
            transition: 0.8s;}
.type_bottom .type_top_left img:hover{-webkit-transform: scale(1.4); transform: scale(1.4);opacity: 1;}
.type_bottom .type_top_right{display: inline-block;float: left;width: 33%;height:265px;text-align: center;vertical-align: middle; color: #045944;padding: 95px 0;}
.type_bottom .type_top_right h3{font: 40px "Times New Roman",Times,serif;font-weight: bold;line-height:2 ;}
.type_bottom .type_top_right p{font-size: 16px;line-height: 3;}
.type_bottom .type_top_right span{color:#777;line-height: 2;}
.type_bottom .type_top_right a{background: url("images/icons/knowMore.png") 65px center no-repeat;
    display: block;font-size: 14px; text-align: center;vertical-align:middle;margin: 0 auto; margin-top: 50px;
    height: 15px;padding:10px 10px 20px 0;width: 93px;background-color:#fff;border:1px solid #045944;color: #045944;line-height: 2; }
.type_bottom .type_top_right a:hover{background: url("images/icons/knowMore_active.png") 65px center no-repeat;
    display: block;font-size: 14px; text-align: center;vertical-align:middle;margin: 0 auto; margin-top: 50px;
    height: 15px;padding:10px 10px 20px 0;width: 93px;background-color:#045944;color: #fff;line-height: 2; }

/* newArrivals */
.newArrivals{width: 100%;margin-top: 30px;}
.newArrivals_body{width: 100%;background: #d6dddb;text-align: center;padding: 50px 0 0 0;}
.newArrivals_body ul{margin: 0 auto;font-size: 20px;color: #045944;font-family: "SimSun", serif;}
.newArrivals_body ul li{display: inline-block;margin:0 25px; cursor: pointer;}
.newArrivals_body ul li:hover span{visibility: visible; }
.newArrivals_body ul li p{line-height: 3;margin-bottom: 10px; }
.newArrivals_body ul li span{visibility: hidden; border-top: 10px solid #045944;border-right:10px solid transparent;border-left:10px solid transparent;border-bottom: 10px solid transparent; }
.newArrivals_bottom{width: 1200px;margin: 0 auto;font-size: 14px;text-align: center;line-height: 1;}
.newArrivals_bottom img{width: 100%;height: 100%; opacity: 0.8; }
.newArrivals_bottom img:hover{opacity: 1;}
.newArrivals_bottom p{margin: 30px 0;color: #045944;}
.new_arr_left{display: inline-block; width: 380px;height: 290px;margin-right: 25px;overflow: hidden;}
.new_arr_middle{display: inline-block;width: 380px;height: 290px;margin-right: 25px;overflow: hidden;}
.new_arr_right{display: inline-block;width: 380px;height: 290px;overflow: hidden;}

/* owner_show */
.owner_show{width: 100%;margin-top: 30px;}
.owner_show_body{width: 100%;text-align: center;}
.owner_show_body .owner_show_top h3{font-size: 30px;font-family: "SimSun", serif;color: #045944;line-height: 2.5;}
.owner_show_body .owner_show_middle{width: 100%;background: #d6dddb;padding:40px 0 40px  0;}
.owner_show_body .owner_show_middle_body{width: 1200px;margin: 0 auto;}
.owner_show_middle_left{width: 380px;display: inline-block;margin-right: 26px;}
.owner_show_middle_left h5{width: 380px;line-height: 1;margin-bottom:25px;font-size: 20px;font-family: "SimSun", serif;color: #045944;}
.owner_show_middle_left li{width: 188px;display: inline-block;float: left;background: #fff;margin:1px;}
.owner_show_middle_left li:hover a{background: #045944;color: #fff;}
.owner_show_middle_left li a{width: 188px;display: inline-block;line-height: 3;}
.owner_show_middle_middle{width: 380px;display: inline-block;margin-right: 26px;}
.owner_show_middle_middle h5{width: 380px;line-height: 1;margin-bottom:25px;font-size: 20px;font-family: "SimSun", serif;color: #045944;}
.owner_show_middle_middle li{width: 188px;display: inline-block;float: left;background: #fff;margin:1px;}
.owner_show_middle_middle li:hover a{background: #045944;color: #fff;}
.owner_show_middle_middle li a{width: 188px;display: inline-block;line-height: 3;}
.owner_show_middle_right{width: 380px;display: inline-block;float: right;}
.owner_show_middle_right h5{width: 380px;line-height: 1;margin-bottom:25px;font-size: 20px;font-family: "SimSun", serif;color: #045944;}
.owner_show_middle_right li{width: 188px;display: inline-block;float: left;background: #fff;margin:1px;}
.owner_show_middle_right li:hover a{background: #045944;color: #fff;}
.owner_show_middle_right li a{width: 188px;display: inline-block;line-height: 3;}

.owner_show_bottom{width: 100%;margin-top: 30px;}
.owner_bottom_body{width: 1200px;margin: 0 auto;}
.owner_bottom_right{width: 285px;display: inline-block;}
.owner_bottom_right:hover .bottom_word{background: #045944;color: #fff;}
.owner_bottom_left{width: 285px;display: inline-block;margin-right:14px; }
.owner_bottom_left:hover .bottom_word{background: #045944;color: #fff;}


.bottom_pic{width: 100%;height: 190px;}
.bottom_pic img{width: 100%;height: 190px;opacity: 0.8;}
.bottom_pic img:hover{opacity: 1;}
.bottom_word{width: 235px;color:#000;background: #f2f6f5;padding:10px 25px 20px 25px;text-align: left;}
.bottom_word h5{line-height: 2;font-size: 14px;}
.bottom_word p{line-height: 1.5;font-size: 12px;}

/* about */
.about{width: 100%;padding-bottom: 75px;border-bottom: 1px solid #d6dddb;}
.about_body{width: 1200px;margin: 0 auto;height: 600px;}
.about_left{width: 335px;height: 585px; background: #f2f6f5;text-align: center;padding:15px 30px 0 30px;display: inline-block;float: left;margin-right: 20px; }
.about_left_body{width: 335px;height: 600px;}
.about_left_body h3{width: 335px;font-size: 30px;font-family: "SimSun", serif;color: #045944;line-height: 2;}
.about_left_body h3 span{display: inline-block; width: 90px; height:1px; background: url("images/icons/part.jpg") center repeat-x;margin: 30px 0;vertical-align: middle;}
.about_pic{max-width: 335px;height: 230px; overflow: hidden;margin-bottom: 20px;position: relative;}
.about_pic span{ position: absolute;margin-top: 240px; padding-top: 8px; width:335px; height: 37px; font-size: 12px; font-weight: bold;
    text-align: center; line-height: 20px; color: #fff;  background: rgba(0, 0, 0, .8);
    -webkit-transition: margin-top .6s ease-in-out;
    -moz-transition: margin-top .6s ease-in-out;
    -o-transition: margin-top .6s ease-in-out;
    transition: margin-top .6s ease-in-out; }
.about_pic:hover span{display: block;margin-top: 190px;}
.about_left_body ul{width: 335px;}
.about_left_body ul li{width: 335px;text-align: left;line-height: 3;font-size: 14px;margin-top: -1px;
    border-top: 1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;padding: 6px 0;}
.about_left_body ul li span{float: right;display: inline-block;color: #868686;font-size: 12px;}
.about_left_body ul li a{color: #000;}
.about_left_body p{text-align: left;width: 100%; line-height: 4;color: #045944;}
.about_left_body a{color: #045944;}
.about_middle{width: 385px;height: 600px;float: left;}
.about_middle_body{width: 385px;height: 600px;overflow: hidden;position: relative;}
.about_middle_body span{position: absolute;top: 0; left:0;width:385px; height: 324px; text-align: center;padding-top: 276px; font-size: 24px; font-weight: bold;
    background: rgba(0, 0, 0, 0.31);color: #eeeeee;font-family: "SimSun", serif;-webkit-transition: 0.8s;
    transition: 0.8s;}
.about_middle span:hover{ opacity: 0;}
.about_middle img{width: 385px;height: 600px; }
.about_bottom{width: 385px;height: 600px;display: inline-block;float: right;}
.about__bottom_body{width: 385px;height: 600px;}
.about__bottom_body img{width: 383px;height: 290px;}
.about_bottom1{width: 383px;height: 290px;display: inline-block;margin-bottom: 20px;position: relative;}
.about_bottom1 span{position: absolute;top: 0; left:0;width:383px; height: 150px; text-align: center;padding-top: 140px; font-size: 24px; font-weight: bold;
    background: rgba(0, 0, 0, 0.31);color: #eeeeee;font-family: "SimSun", serif;-webkit-transition: 0.8s;
    transition: 0.8s;}
.about_bottom1 span:hover{ opacity: 0;}
.about_bottom2{width: 383px;height: 290px;display: inline-block;position: relative;}
.about_bottom2 span:hover{ opacity: 0;}
.about_bottom2 span{position: absolute;top: 0; left:0;width:383px; height: 150px; text-align: center;padding-top: 140px; font-size: 24px; font-weight: bold;
    background: rgba(0, 0, 0, 0.31);color: #eeeeee;font-family: "SimSun", serif;-webkit-transition: 0.8s;
    transition: 0.8s;}
/* 知识库 */
.knowledge{width: 100%;padding-bottom: 75px;}
.knowledge_body{width: 1200px;margin: 0 auto;}
.knowledge1{width: 250px;margin-right: 60px;display: inline-block;}
.knowledge2{width: 250px;display: inline-block;}
.knowledge_word{width: 250px; padding: 62px 0 20px 0;}
.knowledge_word h5{width: 250px;font-size: 24px;font-family: "SimSun", serif;color: #045944;line-height: 2;}
.knowledge_word li{line-height: 2;color: #747474; }
.knowledge_pic{width: 250px;height: 143px;overflow:hidden;}
.knowledge_pic img{width: 250px; }
.know1 .knowledge_pic{width: 250px;height: 143px;overflow:hidden;position: relative;}
.know1 .knowledge_pic img{width: 250px;height: 143px;position: absolute;top: 0;left:0;
    -webkit-transition: 1.2s;
    transition: 1.2s;}
.know1 .knowledge_pic img:hover{
    -webkit-transform: scale(5) translate(10px,20px);
    transform: scale(5) translate(10px,20px);}
.know2 .knowledge_pic{overflow:hidden;position: relative;}
.know2 .knowledge_pic img{position: absolute;top: 0;left:0;
    -webkit-transition: 1.2s;
    transition: 1.2s;}
.know2 .knowledge_pic img:hover{
    -webkit-transform: scale(5) translate:-40px,55px);
    transform: scale(5) translate(-40px,55px);}
.know3 .knowledge_pic{overflow:hidden;position: relative;}
.know3 .knowledge_pic img{position: absolute;top: 0;left:0;
    -webkit-transition: 1.2s;
    transition: 1.2s;}
.know3 .knowledge_pic img:hover{
    -webkit-transform: scale(5) translate:-60px,30px);
    transform: scale(5) translate(-60px,30px);}
.know4 .knowledge_pic{overflow:hidden;position: relative;}
.know4 .knowledge_pic img{position: absolute;top: 0;left:0;
    -webkit-transition: 1.2s;
    transition: 1.2s;}
.know4 .knowledge_pic img:hover{
    -webkit-transform: scale(2.5) translate:-10px,45px);
    transform: scale(2.5) translate(-10px,45px);}

/*sideBar */
.sideBar{position: fixed;right: 20px;top: 25%;}
.sideBar_ul{width: 60px;}
.sideBar_ul li{width: 60px;height: 60px;text-align: center;border: 1px solid #d8d8d8;margin-top: -1px;padding-top: 10px;
         background-color: #f2f6f5;opacity: 0.8;}
.sideBar_ul li span{display: block;color: #045944;}



/* more */
.more{width: 100%;background-color: #d8d8d8;}
.more_body{width: 1200px;margin:0 auto;padding: 34px 0;}
.more_left{display: inline-block;vertical-align: text-bottom;}
.more_left img{display: inline-block;vertical-align: text-bottom;}
.more_left p{display: inline-block;vertical-align: text-bottom;}
.more_right{display: inline-block;float: right;}
.more_right i{font-style: normal;}
.more_right a{font-style: normal;color: #045944;}
/* footer */
.footer{width: 100%;padding-bottom: 30px;}
.footer_body{width: 1200px;margin: 0 auto; }
.footer_top{width: 1200px;margin: 0 auto;padding: 30px 0;border-bottom: 1px solid #d6dddb; }
.footer_top_left{display: inline-block;vertical-align: middle;}
.footer_top_right{display: inline-block;float: right;}
.footer_top_right p{display: inline-block;color: #6c6d6e;}
.footer_logo{width: 100%;text-align: center;padding: 30px 0;}
.footer_bottom_body{width: 1200px;}
.footer_bottom_col{width: 155px;display: inline-block;text-align: left;vertical-align: top;}
.footer_bottom_col h5{font-size: 20px;font-family: "SimSun", serif;color: #045944;line-height: 2;}
.footer_bottom_col li{line-height: 2;color: #7b7b7b;}

.footer_bottom_col_last{display: inline-block;text-align: left;float: right;}
.footer_bottom_col_last h5{font-size: 20px;font-family: "SimSun", serif;color: #045944;line-height: 2;}
.footer_bottom_col_last li{line-height: 2;color: #7b7b7b;}


